body {
  background-color: azure;
  margin: 0px;
  max-width: 987px;
}

.inner {
  margin: 0, auto;
}

.header {
  display: block;
  background-color: rgba(118, 228, 235, 1);
  height: 48px;
  width: 100%;
}

.herobanner {
  background-color: rgba(49, 95, 164, 1);
  height: 420px;
  width: 100%;
  margin-bottom: 20px;
}

.main {
  background-color: rgba(49, 95, 164, 1);
  height: 620px;
  width: 100%;
  margin-bottom: 20px;
}

.column {
  display: inline-block;
}

.column div {
  background-color: rgba(29, 205, 121, 1);
  width: 428px;
  height: 220px;
  margin-bottom: 20px;
}

.desktop {
  display: none;
}
.footer {
  background-color: rgba(192, 24, 135, 1);
  height: 162px;
  width: 100%;
}

@media screen and (min-width: 767px) {
  .header {
    display: inline-block;
    background-color: rgba(118, 228, 235, 1);
    height: 48px;
    width: 987px;
  }
  .herobanner {
    display: inline-block;
    background-color: rgba(49, 95, 164, 1);
    height: 620px;
    width: 399px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .main {
    display: inline-block;
    background-color: rgba(49, 95, 164, 1);
    height: 620px;
    width: 564px;
    margin-bottom: 20px;
  }

  .column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .column div {
    width: 231px;
    height: 220px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .desktop div {
    background-color: rgba(29, 205, 121, 1);
    width: 231px;
    height: 220px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
